@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply hover:bg-blue-600 px-8 py-3 font-bold text-white transition duration-300 bg-blue-500 rounded-lg shadow;
  }
}

body {
  white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
}

.gradient {
  background: radial-gradient(
    at right center,
    rgb(56, 189, 248),
    rgb(49, 46, 129)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*used to make images white*/
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(148deg)
    brightness(107%) contrast(101%);
}
