@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@layer components {
  .hero {
    @apply w-full text-[#333];
  }
}

.title {
  @apply m-0 w-full pt-20;
  font-size: 48px;
}

.title,
.description {
  @apply text-center;
}

.animated-text {
  background: url("https://media4.giphy.com/media/3o6vXRpbptjHM70EzS/200w.webp?cid=ecf05e47gp3eeo3fq7tq0bncrq030e6meca71ezv002bizbk&ct=g&rid=200w.webp");
  background-clip: text;
  background-size: cover;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}

.login-image {
  @apply hidden;
}

img {
  pointer-events: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top-color: #5c6cff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  background: rgba(255, 255, 255, 0.8);
}

.changeAvatar {
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
}

.imageUploader:hover .changeAvatar {
  opacity: 1;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
  z-index: 100;
}

.dropdown a,
.dropdown .dd-div {
  @apply py-2 w-[22ch] pl-6 hover:bg-gray-200 flex items-center gap-2 text-gray-600;
}

.search {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 0.6rem 0px 0px 0.6rem;
  outline: none;
}

.search:focus {
  background: white;
  @apply shadow border-[1px] border-gray-600;
}

.icon {
  border-radius: 0 0.6rem 0.6rem 0;
}

.profile {
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  max-width: 935px;
}

.about-me:hover + div, div:hover {
  opacity: 1;
}

.desc-input:focus + button {
  @apply opacity-100;
}


@tailwind utilities;
