@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@layer components {
  .hero {
    @apply w-full text-[#333];
  }
}

.title {
  @apply m-0 w-full pt-20;
  font-size: 48px;
}

.title,
.description {
  @apply text-center;
}

.animated-text {
  background: url("https://media4.giphy.com/media/3o6vXRpbptjHM70EzS/200w.webp?cid=ecf05e47gp3eeo3fq7tq0bncrq030e6meca71ezv002bizbk&ct=g&rid=200w.webp");
  background-clip: text;
  background-size: cover;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}

.login-image {
  @apply hidden;
}

img {
  pointer-events: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top-color: #5c6cff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  background: rgba(255, 255, 255, 0.8);
}

@tailwind utilities;
