@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

.gradient {
  background: radial-gradient(
    at right center,
    rgb(56, 189, 248),
    rgb(49, 46, 129)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
  font-family: "Nunito Sans", sans-serif;
}

/*used to make images white*/
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(148deg)
    brightness(107%) contrast(101%);
}
